@{
    ViewBag.Title = "Reporte General";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title.</h2>

@*<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css">*@
@*<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.min.css">*@
<link rel="stylesheet" href="~/Content/jquery.dataTables.min.css">
<link rel="stylesheet" href="~/Content/buttons.dataTables.min.css">

<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/pdfmake.min.js"></script>
<script src="~/Scripts/vfs_fonts.js"></script>

<script src="~/Scripts/dataTables.buttons.min.js"></script>
<script src="~/Scripts/jzip.min.js"></script>
<script src="~/Scripts/buttons.html5.min.js"></script>
@*<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js">*@
@*<link rel="stylesheet" href="https://cdn.datatables.net/fixedcolumns/4.3.0/js/dataTables.fixedColumns.min.js">*@

<div class="container-fluid">
    <br />
    <div class="row">
        <div class="col-4">
            <label>Ingrese el codigo de barras o el numero de parte</label>
            <input type="text" class="form-control rounded" id="codigoBarras" />
        </div>
        <div class="col-4">
            <label>Ingrese la fecha inicial</label>
            <input type="date" class="form-control rounded" id="fechaIni" />
        </div>
        <div class="col-4">
            <label>Ingrese la fecha final</label>
            <input type="date" class="form-control rounded" id="fechaFin" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-4">
            <button id="btnBuscarEva" type="button" class="btn btn-primary">Buscar</button>
        </div>
    </div>
    <hr />
    <br />
    <div class="row">
        <div class="col-6" align="center">
            <img id="imgProducto" src="~/Images/producto-sin-imagen.png" class="img-fluid" style="width:300px; height:300px">
        </div>
        <div class="col-6" align="center">
            <label id="lblPromedio">0%</label>
        </div>
    </div>
    <br />
    <table id="reporteGeneral" class="display table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th># de Reloj</th>
                <th>Planta</th>
                <th>Turno</th>
                <th>Region</th>
                <th>Lote Correcto?</th>
                <th>LoteEvaluado(Identificador)</th>
                <th>CodigoBarras</th>
                <th>Nom. del Producto</th>
                <th>P1 Peso</th>
                <th>P2 Sellado</th>
                <th>P3 Apariencia</th>
                <th>P4 Sabor</th>
                <th>P5 Textura</th>
                <th>Promedio</th>
                <th>Fecha de evaluacion</th>
                @*<th>Button</th>*@
            </tr>
        </thead>
        <tbody>
            @if (ViewBag == null)
            {
                <tr>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<script>    
    $('#reporteGeneral').hide();   
    $("#btnBuscarEva").on("click", function (e) {
        $("#lblTextoInformacion").empty();
        $("#lblModalCampoInvalido").empty();
        if (document.querySelectorAll('#codigoBarras')[0].value == "") {
            $('#modalCampoInvalido').modal('show');
            $("#lblTextoInformacion").append("El campo no puede ir vacio, por favor ingrese un dato");
            $("#lblModalCampoInvalido").append("Codigo de barras o numero de parte");
            return;
        }
        if (document.querySelectorAll('#fechaIni')[0].value == "") {
            $('#modalCampoInvalido').modal('show');
            $("#lblTextoInformacion").append("Debe seleccionar una fecha inicial");
            $("#lblModalCampoInvalido").append("Fecha Inicial");
            return;
        }
        if (document.querySelectorAll('#fechaFin')[0].value == "") {
            $('#modalCampoInvalido').modal('show');
            $("#lblTextoInformacion").append("Debe seleccionar una fecha final");
            $("#lblModalCampoInvalido").append("Fecha Final");
            return;
        }
        var fechaI = document.getElementById("fechaIni").value;
        var fechaF = document.getElementById("fechaFin").value;

        if (fechaI > fechaF) {
            $('#modalCampoInvalido').modal('show');
            $("#lblTextoInformacion").append("Error en las fechas seleccionadas");
            $("#lblModalCampoInvalido").append("Fecha inicial es mayor a la Fecha final");
            return;
        }
        $('#reporteGeneral').show();
        $('#reporteGeneral').DataTable().destroy();
        var model = {
            codigoBarras: $("#codigoBarras").val(),
            fechaIni: $("#fechaIni").val(),
            fechaFin: $("#fechaFin").val(),
        };
        var table = $('#reporteGeneral').DataTable({
            'scrollX': true,
            'responsive': true,
            'autoWidth': false,
            'fixedColumns': true,
            'dom': 'Bfrtip',
            'buttons': [
                {
                    'extend': 'pdfHtml5',
                    'orientation': 'landscape',
                    'pageSize': 'LEGAL'
                },
                {
                    'extend': 'excelHtml5'
                },
                {
                    'extend': 'csvHtml5'
                },
                {
                    'extend': 'copyHtml5'
                }
            ],
            'ajax': {
                "type": "POST",
                "url": "/api/get/getInfoRow",
                "data": model,
                "dataSrc": ""
            },
            'columns': [
                { "data": "id" },
                { "data": "numReloj" },
                { "data": "planta" },
                { "data": "turno" },
                { "data": "regionLote" },
                { "data": "loteCorrecto" },
                { "data": "lote" },
                { "data": "codigoBarras" },
                { "data": "nombreProducto" },
                { "data": "p1Peso" },
                { "data": "p2Sellado" },
                { "data": "p3Apariencia" },
                { "data": "p4Sabor" },
                { "data": "p5Textura" },
                { "data": "promedio" },
                { "data": "fecha" },
                //{ "defaultContent": "<button class='detalles'>Detalles</button>" }
            ],
            'createdRow': function (row, data, dataIndex) {
                if (data.promedio >= 90) {
                    $(row).addClass('greenClass');
                }
                if (data.promedio <= 89) {
                    $(row).addClass('yellowClass');
                }
                if (data.promedio <= 74) {
                    $(row).addClass('orangeClass');
                }
                if (data.promedio <= 50) {
                    $(row).addClass('redClass');
                }
            }
        });

        $.ajax({
            url: "/api/get/getInfoRow",
            type: "POST",
            contentType: "application/json;charset=utf-8",
            dataType: 'json',
            data: JSON.stringify(model),
            success: function (result) {                
                $("#lblPromedio").empty();
                var codigoB="";
                var promedio = 0;
                var cont = 0;
                jQuery.each(result, function (i, val) {
                    codigoB = val.codigoBarras;
                    promedio = promedio + parseInt(val.promedio);
                    cont++;
                });
                var prom = promedio / cont;
                $("#lblPromedio").append(prom + "%");
                if (prom >=90) {
                    $("#lblPromedio").css("background-color", "lawngreen");                 
                }
                if (prom <= 89) {
                    $("#lblPromedio").css("background-color", "yellow");
                }
                if (prom <= 74) {
                    $("#lblPromedio").css("background-color", "orange");
                }
                if (prom <= 50) {
                    $("#lblPromedio").css("background-color", "red");
                }
                $("#imgProducto").attr("src","/Images/Products/"+codigoB+".png");
            },
            fail: function () {

            }
        });
    });
</script>

<!-- Modal Campos no validos-->
<div class="modal fade" id="modalCampoInvalido" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Error en formulario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="lblTextoInformacion"></label><br /><br />
                <label id="lblModalCampoInvalido"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal Campos no validos-->
<!-- Modal VISTA DETALLADA-->
<div class="modal fade" id="modalVistaDetallada" tabindex="-1" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Error en formulario</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <label id="lblTextoInformacion"></label><br /><br />
                <label id="lblModalCampoInvalido"></label>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal VISTA DETALLADA-->